**/node_modules
.vagrant/
deploy-vm/.vagrant
*/node_modules
deploy-vm/.vagrant
.DS_Store
*/.DS_Store
deploy-vm/billing-app
deploy-vm/api-gateway
deploy-vm/inventory-api
*node_modules
*node_modules*
*/package-lock.json
*/package-lock.json*